<!DOCTYPE html>
<html lang="en">
  <head> 
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>


    <style>
      .img{
        margin: initial;
        position: absolute;
        left: 236px;
      }

      .imgeven{
        margin: initial;
        position: absolute;
        left: -110px;
      }

      .wr{
        position: relative;
      }

    </style>

    <link th:rel="stylesheet" th:href="@{webjars/bootstrap/4.0.0-2/css/bootstrap.min.css} "/>
  </head>
  <body style="position: relative;">
    <header th:insert="index.html :: topmenu"></header>
    
    <div style="margin-left: 350px;">
      <table class="table wr" th:each="person, index : ${persons}" th:if="${index.odd}">
        <div class="img">
          <img src="https://static2.yan.vn/YanNews/2167221/202102/facebook-cap-nhat-avatar-doi-voi-tai-khoan-khong-su-dung-anh-dai-dien-e4abd14d.jpg" alt="" width="100px" height="100px">
        </div>
        <tbody>
          <tr>
            <th style="display: inherit" th:text="${person.name}"></th>
            <th style="display: inherit" th:text="${person.nationality}"></th>
            <th style="display: inherit" th:text="${person.birthdate}"></th>
            <th style="display: inherit" th:text="${person.gender}"></th>
          </tr>
        </tbody>
      </table>

      <div style="position: absolute; left: 700px; top: 40px;">
        <table class="table wr" th:each="person, index : ${persons}" th:if="${index.even}">
        <div class="imgeven">
          <img src="https://static2.yan.vn/YanNews/2167221/202102/facebook-cap-nhat-avatar-doi-voi-tai-khoan-khong-su-dung-anh-dai-dien-e4abd14d.jpg" alt="" width="100px" height="100px">
        </div>
        <tbody>
          <tr>
            <th style="display: inherit" th:text="${person.name}"></th>
            <th style="display: inherit" th:text="${person.nationality}"></th>
            <th style="display: inherit" th:text="${person.birthdate}"></th>
            <th style="display: inherit" th:text="${person.gender}"></th>
          </tr>
        </tbody>
      </table>
      </div>
    </div>
  </body>
</html>
