<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>

    <link th:rel="stylesheet" th:href="@{assets/bootstrap-datepicker/css/bootstrap-datepicker.css}"/>
    <link th:rel="stylesheet" th:href="@{assets/bootstrap-datepicker/css/bootstrap-datepicker.standalone.css}"/>
    <link th:rel="stylesheet" th:href="@{webjars/bootstrap/4.0.0-2/css/bootstrap.min.css} "/>
    <link th:rel="stylesheet" th:href="@{webjars/font-awesome/5.11.2/css/all.css} "/>
</head>
<body>
<div class="container">
    <form action="#" th:action="@{/person}" method="post" th:object="${person}" enctype="multipart/form-data">
        <input id="name" type="hidden" placeholder="Full Name" th:field="*{id}" required>
        <div class="form-group row">
            <div class="col-md-4 mt-5"> 
                <div class="form-group">
                    <label for="name">Full Name</label>
                    <input class="form-control" id="name" type="text" placeholder="Full Name" th:field="*{name}"  required>
                </div>

                <div class="form-group">
                    <label for="job">Job</label>
                    <select class="form-control selectpicker" th:field="*{job}" id="job">
                        <option value="Developer">Developer</option>
                        <option value="Teacher">Teacher</option>
                        <option value="Dentist">Dentist</option>
                        <option value="Reporter">Reporter</option>
                    </select>
                </div>
                
                <div class="form-group">
                    <div class="custom-control custom-radio custom-control-inline">
                        <input type="radio" id="female" name="female" class="custom-control-input" value="Female" th:field="*{gender}">
                        <label class="custom-control-label" for="female">Female</label>
                    </div>
                     <div class="custom-control custom-radio custom-control-inline">
                        <input type="radio" id="male" name="male" class="custom-control-input" value="Male" th:field="*{gender}">
                        <label class="custom-control-label" for="male">Male</label>
                    </div>
                </div>

                <label for="birthdate">Date of birth</label>
                <div class="input-group date">
                    <input type="text" class="form-control" id="birthdate" autocomplete="off" th:field="*{birthDay}" required/>
                    <div class="input-group-append">
                        <span class="input-group-text"><i class="far fa-calendar-alt"></i></span>
                    </div>
                </div>


               
                   <br>
                        <p>Select a photo</p>
                        <input type="file" th:field="*{photo}"/>
                    <div class="text-danger" th:if="${#fields.hasErrors('photo')}" th:errors="*{photo}">
                        Upload Error
                    </div>
                </div>
            </div>
        </div>

        <button class="btn btn-primary" type="submit">Add</button>
    </form>

</div>

<script th:src="@{/webjars/jquery/jquery.min.js}"></script>
<script th:src="@{/webjars/popper.js/umd/popper.min.js}"></script>
<script th:src="@{/webjars/bootstrap/js/bootstrap.min.js}"></script>
<script th:src="@{assets/bootstrap-datepicker/js/bootstrap-datepicker.js}"></script>

<script>
    $('.input-group.date').datepicker({
        autoclose: true,
        todayHighlight: true
    });
</script>
</body>
</html>